# personal files
venv
settings.json

# byte-compiled / optimized / DLL files
__pycache__
/bin
.bunker_venv
.buildozer
my_log.txt
buildozer.spec
/buildozer.spec
bunkercalc.apk
test.py
.idea
.github

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings
.buildozer/

# vscode project files
.vscode

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# enviroment files
.env