appdirs==1.4.4
certifi==2022.5.18.1
charset-normalizer==2.0.12
colorama==0.4.4
Cython==0.29.30
distlib==0.3.4
docutils==0.18.1
filelock==3.7.1
idna==3.3
importlib-metadata==4.11.4
iniconfig==1.1.1
Jinja2==3.1.2
Kivy==2.1.0
Kivy-Garden==0.1.5
kivymd==0.104.2
MarkupSafe==2.1.1
packaging==21.3
pep517==0.6.0
pexpect==4.8.0
Pillow==9.1.1
platformdirs==2.5.2
pluggy==1.0.0
ptyprocess==0.7.0
py==1.11.0
Pygments==2.12.0
pyparsing==3.0.9
pytest==7.1.2
pytoml==0.1.21
requests==2.27.1
sh==1.14.2
six==1.16.0
toml==0.10.2
tomli==2.0.1
urllib3==1.26.9
virtualenv==20.14.1
zipp==3.8.0
appdirs==1.4.4
attrs==21.4.0
certifi==2022.5.18.1
charset-normalizer==2.0.12
colorama==0.4.4
Cython==0.29.30
distlib==0.3.4
docutils==0.18.1
filelock==3.7.1
idna==3.3
importlib-metadata==4.11.4
iniconfig==1.1.1
Jinja2==3.1.2
Kivy==2.1.0
Kivy-Garden==0.1.5
kivymd==0.104.2
MarkupSafe==2.1.1
packaging==21.3
pep517==0.6.0
pexpect==4.8.0
Pillow==9.1.1
platformdirs==2.5.2
pluggy==1.0.0
ptyprocess==0.7.0
py==1.11.0
Pygments==2.12.0
pyparsing==3.0.9
pytest==7.1.2
pytoml==0.1.21
requests==2.27.1
sh==1.14.2
six==1.16.0
toml==0.10.2
tomli==2.0.1
urllib3==1.26.9
virtualenv==20.14.1
zipp==3.8.0
